@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap");
* {
  box-sizing: border-box;
  font-family: raleway;
  color: #777;
}
html,
body {
  margin: 0;
  padding: 0;
}
.nav ul {
  margin: 0;
}
.nav li {
  display: inline;
}
.nav a {
  display: inline-block;
  padding: 30px;
  color: white;
  text-decoration: none;
}
.main-nav {
  text-align: center;
  font-size: 1.1em;
  font-weight: lighter;
}
.main-nav {
  padding-left: 0 5%;
}
.main-header {
  background-color: rgba(0, 0, 0, 0.06);
  background-image: url("../images/Header Background.jpeg");
  background-blend-mode: multiply;
  background-size: cover;
  padding-bottom: 30px;
}
.band-name {
  font-family: "Rale way";
  text-align: center;
  font-weight: normal;
  font-size: 4em;
  color: white;
}
.content-section {
  margin: 30px;
}
.conatiner {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
}
.section-header {
  font-family: "Metal Mania";
  text-align: center;
  font-size: 50px;
}
.about-the-band {
  float: left;
  height: 200px;
  width: 200px;
  margin: 15px;
  border-radius: 50%;
}
.main-footer {
  background-color: turquoise;
  color: white;
  paddingh: 20px 0;
}
.main-footer-container {
  display: flex;
  align-items: center;
}
.main-footer-container ul {
  flex-grow: 1;
  text-align: end;
}
.footer-nav li {
  padding: 0 5px;
  margin-right: 80px;
}
.footer-nav img {
  width: 30px;
  height: 30px;
}
.footer-band-name {
  margin-left: 100px;
}
